<% if current_user %>

  <h2>Hello <%= current_user.first_name %>!</h2><br>
  <%= link_to 'Create a set', new_set_path %><br>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %><br>
  <%= image_tag avatar_url(current_user), class: "img-circle avatar-small" %>

<% else %>

  <h2>Hello World!</h2>
  <%= link_to 'Sign up', new_user_registration_path %>
  <%= link_to 'Login', new_user_session_path %>

<% end %>
