<header class="masthead text-center text-white d-flex">
  <div class="layer"></div>
  <% if current_user %>
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <strong>Hello
              <%= current_user.first_name %>
              !</strong>
          </h1>
          <hr>
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="text-faded mb-5">Start looking threw our fabulous selection of beautiful and unique places all around the world. You can even put up your own special place for rent by creating a set.</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="/places">Discover</a>
          <%= link_to 'Create a set', new_place_path, class:"btn btn-primary btn-xl js-scroll-trigger" %>

        </div>
      </div>
    </div>
  <% else %>

    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <strong>Rent a fabulous set</strong>
          </h1>
          <hr>
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="text-faded mb-5">Sign up to choose from our fabulous selection of unique places all around the world or to add your very own home for rent !</p>
          <%= link_to 'Sign up', new_user_registration_path, class:"btn btn-primary btn-xl js-scroll-trigger" %>
        </div>
      </div>
    </div>

  <% end %>
</header>

<div id="searchbox" class="container search_container">
    <form class="form-horizontal" role="form" method="get" action="/places/">
      <div class="row">
        <div class="col-md-6">
          <div class="input-group" id="">
            <input type="text" name="location" class="form-control" id="address" placeholder="In which city?"/>
          </div>
        </div>
        <div class="col-md-6">
          <select class="form-control" name="category" id="interet">
            <option disabled selected="selected">Category</option>
            <option value="House">Houses</option>
            <option value="Apartment">Apartments</option>
            <option value="Villa">Villas</option>
            <option value="Mansion">Mansions</option>
            <option value="Castle">Castles</option>
            <option value="Cottage">Cottages</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class='col-md-6'>
          <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
              <label class="start_date">From</label>
              <input type='datetime-local' name='start_time' class="form-control"/>
            </div>
          </div>
        </div>
        <div class='col-md-6'>
          <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
              <label class="end_date">To</label>
              <input type='datetime-local' name='end_time' class="form-control"/>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class='col-6'>
          <span>Exposure</span>
          <label class="start_date">from:</label>
          <select class="selectpicker" name="min_exposure" id="interet">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <label class="start_date">to:</label>
          <select class="selectpicker" name="max_exposure" id="interet">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="col-6">
          <span>Price ($/d)</span>
          <label class="start_date">from:</label>
          <input type="number" name="min_price" min="1" max="9999">
          <label class="start_date">to:</label>
          <input type="number" name="max_price" min="1" max="9999">
        </div>
      </div>
      <div class="row" style="margin-top: 20px; margin-bottom: 30px;">
        <div class="col-12">
          <button type="submit" class="btn btn-primary">
            Search
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<hr>

<div class="space_container">
  <h4 class="category_title">Families of sets</h4>
</div>

<main role="main">
  <section class="p-0" id="portfolio">
    <div class="container-fluid p-0">
      <div class="row no-gutters popup-gallery">
        <div class="col-lg-4 col-sm-6">
          <a class="category-box" href="/places/?category=House">
            <%=image_tag("house0.jpg", class: "img_preview") %>
            <div class="category-box-caption">
              <div class="category-box-caption-content">
                <div class="project-category text-faded">
                  Houses
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="category-box" href="/places/?category=Apartment">
            <%=image_tag("app1.jpg", class: "img_preview") %>
            <div class="category-box-caption">
              <div class="category-box-caption-content">
                <div class="project-category text-faded">
                  Apartments
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="category-box" href="/places/?category=Villa">
            <%=image_tag("vila1.jpg", class: "img_preview") %>
            <div class="category-box-caption">
              <div class="category-box-caption-content">
                <div class="project-category text-faded">
                  Villas
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="category-box" href="/places/?category=Mansion">
            <%=image_tag("manor1.jpg", class: "img_preview") %>
            <div class="category-box-caption">
              <div class="category-box-caption-content">
                <div class="project-category text-faded">
                  Mansions
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="category-box" href="/places/?category=Castle">
            <%=image_tag("castle1.jpg", class: "img_preview") %>
            <div class="category-box-caption">
              <div class="category-box-caption-content">
                <div class="project-category text-faded">
                  Castles
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="category-box" href="/places/?category=Cottage">
            <%=image_tag("house4.jpeg", class: "img_preview") %>
            <div class="category-box-caption">
              <div class="category-box-caption-content">
                <div class="project-category text-faded">
                  Cottages
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
<script type="text/javascript">
function updateTextInput(val) {
  document.getElementById('textInput').value=val;
}
function updatePriceInput(val) {
  document.getElementById('priceInput').value=val;
}
var element = document.getElementById('address');
function initAutocomplete() {
  google.maps.event.addDomListener(element, 'keydown', function(event) {
    if (event.keyCode === 13) {
      event.preventDefault();
    }
  });

  var autocomplete = new google.maps.places.Autocomplete(element, { types: ['(cities)'] });
  autocomplete.addListener('place_changed', onPlaceChanged);
}
function onPlaceChanged() {
  var place = this.getPlace();
  element.value = place.formatted_address;
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwluyRb2sgG_bfxjbL9RB7dj9dSTf7zU4&libraries=places&callback=initAutocomplete" async defer></script>
