<%= form_with(model: place, local: true, :class => 'Place-form') do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= form.label :'name' %>
      <%= form.text_field :name, id: :place_name, max: 75, :class => 'form-control', :placeholder => 'Enter a public display name for your set' %>
    </div>

    <div class="field">
      <%= form.label :'description' %>
      <%= form.text_area :description, id: :place_description, :class => 'form-control', :placeholder => 'How would you best describe your set ?' %>
    </div>

    <div class="field">
      <%= form.label :'category' %>
      <%= form.select(:category, options_for_select(['House', 'Apartment', 'Villa', 'Mansion', 'Castle', 'Cottage' ]), {}, {:class => 'form-control'}) %>
    </div>

    <%= form.fields_for :photo do |p| %>
    <div class="field">
      <%= p.label :image %>
      <%= p.file_field :image, :multiple => true, :class => 'form-control-file' %>
    </div>
    <% end %>

    <%= form.fields_for :tag do |t| %>
    <div class="field">
      <%= t.label :tags %>
      <%= t.text_field :name, :class => 'form-control awesomplete', :placeholder => 'Seperate tags with comma' %>
    </div>
    <% end %>

    <%# @tags.each do |tag| %>
    <span><%#= tag.name %></span>
    <%# end %>

    <div class="field">
      <%= form.label :address %>
      <%= form.text_field :address, id: :place_address, :autocomplete => :off, :class => 'form-control', :placeholder => 'Enter an adress' %>
    </div>

    <div class="field">
      <%= form.label :area %>
      <%= form.number_field :area, id: :place_area, min: 1, max: 999, :class => 'form-control', :placeholder => 'Enter the surface of your set (m²)' %>
    </div>

    <div class="field">
      <%= form.label :exposure %>
      <%= form.number_field :exposure, id: :place_exposure, min: 0, max: 5, :class => 'form-control', :placeholder => 'Rate the exposure of your set /5' %>
    </div>

    <div class="field">
      <%= form.label :price %>
      <%= form.number_field :price, id: :place_price, min: 1, max: 9999, :class => 'form-control', :placeholder => 'Daily price of your set' %>
    </div>

    <div class="row">
      <div class="col">
        <%= link_to 'Back', places_path, :class => 'btn' %>
      </div>
      <div class="col">
        <%= form.submit 'Submit', :class => 'btn btn-primary' %>
      </div>

    </div>

  </div>
<% end %>
<script type="text/javascript">
  var element = document.getElementById('place_address');
  function initAutocomplete() {
    google.maps.event.addDomListener(element, 'keydown', function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
      }
    });

    var autocomplete = new google.maps.places.Autocomplete(element, { types: ['geocode'] });
    autocomplete.addListener('place_changed', onPlaceChanged);
  }
  function onPlaceChanged() {
    var place = this.getPlace();
    element.value = place.formatted_address;
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwluyRb2sgG_bfxjbL9RB7dj9dSTf7zU4&libraries=places&callback=initAutocomplete" async defer></script>
