<%= form_with(model: place, local: true) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :place_name, max: 75 %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :place_description %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select(:category, options_for_select(['House', 'Appartment', 'Castle', 'Cottage', 'Other' ])) %>
  </div>

  <%= form.fields_for :photo do |p| %>
    <div>
      <%= p.label :image %>
      <%= p.file_field :image, :multiple => true %>
    </div>
  <% end %>

  <%= form.fields_for :tag do |t| %>
    <div>
      <%= form.label :tags %>
      <%= t.text_field :name %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :place_address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :place_city %>
  </div>

  <!-- <input class="awesomplete"/> -->

  <div class="field">
    <%= form.label :area %>
    <%= form.number_field :area, id: :place_area, min: 1, max: 999 %>
  </div>

  <div class="field">
    <%= form.label :exposure %>
    <%= form.number_field :exposure, id: :place_exposure, min: 0, max: 5 %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :place_price, min: 1, max: 9999 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
